In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-09-28 23:55:08,-34.5322,20.0403,54.72,88,52,4.61
1,1,Tuktoyaktuk,CA,2021-09-28 23:55:08,69.4541,-133.0374,33.80,100,90,12.66
2,2,Ushuaia,AR,2021-09-28 23:54:38,-54.8000,-68.3000,46.06,49,75,21.85
3,3,Bluff,NZ,2021-09-28 23:55:08,-46.6000,168.3333,48.79,82,72,22.82
4,4,Paragominas,BR,2021-09-28 23:55:09,-2.9667,-47.4833,73.56,93,72,2.19

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Porbandar,IN,2021-09-28 23:55:10,21.6422,69.6093,78.53,87,100,6.26
11,11,Veraval,IN,2021-09-28 23:55:11,20.9000,70.3667,77.83,94,100,14.76
15,15,Shingu,JP,2021-09-28 23:55:11,33.7333,135.9833,76.19,85,68,9.64
16,16,Kirakira,SB,2021-09-28 23:55:11,-10.4544,161.9205,84.31,71,100,9.37
17,17,Kahului,US,2021-09-28 23:55:12,20.8947,-156.4700,83.46,82,38,13.00
19,19,Hamilton,US,2021-09-28 23:55:12,39.1834,-84.5333,76.24,76,1,4.85
21,21,Hithadhoo,MV,2021-09-28 23:55:13,-0.6000,73.0833,82.13,73,61,11.99
22,22,Black River,JM,2021-09-28 23:55:13,18.0264,-77.8487,84.20,75,9,2.24
27,27,Cabo San Lucas,MX,2021-09-28 23:52:09,22.8909,-109.9124,88.61,68,10,9.10
28,28,Alugan,PH,2021-09-28 23:55:15,12.2188,125.4808,81.25,82,91,4.99

In [11]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8        Porbandar      IN     78.53  21.6422   69.6093
11         Veraval      IN     77.83  20.9000   70.3667
15          Shingu      JP     76.19  33.7333  135.9833
16        Kirakira      SB     84.31 -10.4544  161.9205
17         Kahului      US     83.46  20.8947 -156.4700
19        Hamilton      US     76.24  39.1834  -84.5333
21       Hithadhoo      MV     82.13  -0.6000   73.0833
22     Black River      JM     84.20  18.0264  -77.8487
27  Cabo San Lucas      MX     88.61  22.8909 -109.9124
28          Alugan      PH     81.25  12.2188  125.4808

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Porbandar,IN,78.53,21.6422,69.6093,Lords Inn Porbandar
11,Veraval,IN,77.83,20.9000,70.3667,Lords Inn Somnath
15,Shingu,JP,76.19,33.7333,135.9833,Shingu UI Hotel
16,Kirakira,SB,84.31,-10.4544,161.9205,SanBiz Lodge
17,Kahului,US,83.46,20.8947,-156.4700,Maui Seaside Hotel
19,Hamilton,US,76.24,39.1834,-84.5333,Six Acres Bed & Breakfast
21,Hithadhoo,MV,82.13,-0.6000,73.0833,Scoop Guest House
22,Black River,JM,84.20,18.0264,-77.8487,Idlers' Rest Beach Hotel
27,Cabo San Lucas,MX,88.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
28,Alugan,PH,81.25,12.2188,125.4808,JM Lodge

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))